@import ./common
@import ./components/header
body
	.header

	.top 
		padding: 16px 0

	.top-w
		@extend %align-v

	.logo 
		width: 400px
		display: flex
		.logo-img
			margin-right: 14px
		.logo-descr
			margin-top: 11px
			max-width: 278px
			width: 100%
			display: block
			@include font (14px, 500, 140%)
	.top-phone-w 

	.top-phone 

	.top-call 

	.top-btn 

	.burger 

	.banner 

	.banner-w 

	.banner-l 

	.banner-title 

	.banner-descr 

	.banner-btn 

	.banner-r 
